.feynman__link{
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  position: absolute;
  text-decoration: none;
  top: 50%;
  right: 48px;
  transition: 0.6s;
}
.feynman__link:hover{
  opacity: 0.7;
}
