.section-subtitle_theme_dark{
  color: #fff;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
  width: 60%;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 0;
}
